go 1.25.0

use (
	./ae-cli/myproj/backend
	./server-test
	./serverbase
	./shared-modules/audit
	./shared-modules/booking
	./shared-modules/calendar
	./shared-modules/documents
	./shared-modules/invoice
	./shared-modules/invoice_number
	./shared-modules/organization
	./shared-modules/pdf
	./shared-modules/saas-base
	./shared-modules/settings
	./shared-modules/static
)
